*{
    font-family: "Poppins", sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --first-bg-collor: #030303; 
    --second-bg-collor: #4158d0; 
    --third-bg-collor: #4158d0; 
    --clock-devices: black; 
    --seconds-hand: red;
    --imagem-atraso: "..\img\avisoAtraso.png"
}

body{
    background-image: linear-gradient(
        43deg,
        var(--first-bg-collor) 0%,
        var(--second-bg-collor) 36%,
        var(--third-bg-collor) 100%
    );
   height: 100vh;
}

nav{
    background-color: grey;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    background-color: rgba(255,255,255,0.8);

    width: 500px;
    height: 500px;
    position: relative;

    border-radius: 50%;
    border: 2px solid var(--clock-devices);
}

.clock .number {
    --rotation: 0;
    color: var(--clock-devices);

    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;

    width: 100%;
    height: 100%;
    position: absolute;
    padding: 15px;
    
    transform: rotate(var(--rotation));
}

.clock .number.number-1{
    --rotation: 30deg;
}
.clock .number.number-2{
    --rotation: 60deg;
}
.clock .number.number-3{
    --rotation: 90deg;
}
.clock .number.number-4{
    --rotation: 120deg;
}
.clock .number.number-5{
    --rotation: 150deg;
}
.clock .number.number-6{
    --rotation: 180deg;
}
.clock .number.number-7{
    --rotation: 210deg;
}
.clock .number.number-8{
    --rotation: 240deg;
}
.clock .number.number-9{
    --rotation: 270deg;
}
.clock .number.number-10{
    --rotation: 300deg;
}
.clock .number.number-11{
    --rotation: 330deg;
}

.clock::after{
    background-color: var(--clock-devices);
    content: '';

    width: 10px;
    height: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    
    border-radius: 50%;

    transform: translate(-50%, -50%);;
}

.clock .hand{
    background-color: var(--clock-devices);
    
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    transform-origin: bottom;
    --rotation: 0;
}

.clock .hand.seconds{
    background-color: var(--seconds-hand);

    width: 3px;
    height: 40%;
    z-index: 25;
}

.clock .hand.minutes{
    background-color: var(--clock-devices);

    width: 7px;
    height: 35%;
}

.clock .hand.hours{
    background-color: var(--clock-devices);

    width: 10px;
    height: 25%;
}

.digitalClock {
    background-color: rgba(205, 202, 202, 0.85);
    
    font-size: 45px;
    font-weight: 700;
    color: var(--clock-devices);
    
    margin-bottom: 10%;
    position: absolute;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;

    border: 4px solid rgba(245, 245, 245, 0);
    border-radius: 5px;
}

.digitalClock *{
    font-family: 'clockicons', sans-serif;
}

.currentDate{
    background-color: rgba(205, 202, 202, 0.85);
    color: var(--clock-devices);
    font-size: 25px;
    font-weight: 700;
    
    z-index: 50;
    margin-top: 10%;
    position: absolute;
    
    border: 4px solid rgba(245, 245, 245, 0);
    border-radius: 5px;
 
    display: none;
    justify-content: space-between;
    align-items: center;
}